#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-top: 50px;
}
button {
  cursor: pointer;
}
button:hover {
  font-weight: bold;
}
form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  width: 320px;
  margin-bottom: 5px;
  padding: 4px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 312px;
  outline: none;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li > .buttons > button {
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 4px;
  background-color: #ff474c;
}

li > .buttons > button:first-of-type {
  background-color: #4caf50;
}
.completed {
  text-decoration: line-through;
  color: grey;
}

.clear {
  position: fixed;
  top: 10px;
  right: 10px;
  box-shadow: 1px 1px 1px fuchsia;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.modal-content  {
  background: transparent;
  width: 80%;
  position: fixed;
 
}
.modal-content> form {
margin-bottom: 0;
}

@media (max-width: 600px) {
  .clear {
    bottom: 10px;
    top: auto;
  }
}
